.container{
    font-size: 20px;
    margin: auto;
    width: 50%;
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10%;
}

.result{
    background-color: black;
    color: aliceblue;
    text-align: center;
    height: 35px;
    padding: 5px;
}

.acButton{
    background-color: firebrick;
    color: whitesmoke;
}

.btn{
    width: 25px;
    height: 25px;
    padding: 5px;
    margin: 7px;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    border: 1px solid rgba(0, 0, 0, .7);
    border-radius: 5px;
    display: table-cell;
    transition: all .2s;
}

.btn:hover{
    background-color: gray;
}

.myName{
    background-color: darkseagreen;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    color: #3c303b;
    text-shadow: 5px 1px 5px blanchedalmond;
}